<!DOCTYPE html>
<html>
    <% include ../common/head %>

<body >

    <% include ../common/logo %>
    <%if ( language == 'en_US') {%>
    <%- include ../common/en/greetings%>
    <%}%>
    <%if ( language == 'pt') {%>
    <%- include ../common/pt/greetings%>
    <%}%>
    <% include ../common/separator %>

    <!-- pending -->
    <%if ( data.status == 'pending') {%>
        <%if ( language == 'en_US') {%>
        <%- include pending/en.ejs%>
        <%}%>
        <%if ( language == 'pt') {%>
        <%- include pending/pt.ejs%>
        <%}%>
    <%}%>

    <!-- accepted -->
    <%if ( data.status == 'accepted') {%>
        <%if ( language == 'en_US') {%>
        <%- include accepted/en.ejs%>
        <%}%>
        <%if ( language == 'pt') {%>
        <%- include accepted/pt.ejs%>
        <%}%>
    <%}%>

    <!-- rejected -->
    <%if ( data.status == 'rejected') {%>
        <%if ( language == 'en_US') {%>
        <%- include rejected/en.ejs%>
        <%}%>
        <%if ( language == 'pt') {%>
        <%- include rejected/pt.ejs%>
        <%}%>
    <%}%>

    <!-- reapply -->
    <%if ( data.status == 'reapply') {%>
         <%if ( language == 'en_US') {%>
        <%- include reapply/en.ejs%>
        <%}%>
        <%if ( language == 'pt') {%>
        <%- include reapply/pt.ejs%>
        <%}%>
    <%}%>

    <% include ../common/separator %>
    <%if ( language == 'en_US') {%>
    <%- include ../common/en/footer%>
    <%}%>
    <%if ( language == 'pt') {%>
    <%- include ../common/pt/footer%>
    <%}%></body>
</html>